@model Tutorial.Web.Model.Student

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <h1>@Model.FirstName @Model.LastName</h1>
    <a asp-action="Index">返回Home</a>
</body>
</html>
